<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category,message in messages %}
        <div class="alert-box">
            <div class="alert-msg" style="background-color:{{category}};">{{message}}</div>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <main>
        <header class="header">
            <h1 class="header-web-name">Dr.Patient | <sub>Health is Wealth.</sub></h1>
            <nav>
                <ul>
                    <a href="/dhome"><li>Dashboard</li></a>
                    <a href="/dmyappointments"><li class="active">My Appointments</li></a>
                    <a href="/dmysessions"><li>My Sessions</li></a>
                    <!-- <a href="/dmypatients"><li>My Patients</li></a> -->
                    <a href="/dprofile"><li>Profile</li></a>
                </ul>
            </nav>
        </header>
        <section>
            
            <div class="hidden-doctor-detail">
                <div class="hidden-doctor-card">
                    <form action="/dmyappointments_addtimesteup" method="post">
                        <table id="mytable">
                            <tr>
                                <td>Day </td>
                                <td colspan="2"><select name="day">
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                    <option value="Sunday">Sunday</option>
                                </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Schedule For:</td>
                                <td colspan="2"><select name="SCHEDULE">
                                    <option value="everyday">Every day</option>
                                    <option value="alternative">Alternative days</option>
                                    <option value="oneday">Single day</option>
                                </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Add Appointment Time</td>
                                <td><input type="time" name="APPOINTMENTTIME" step="0" required>
                                </td>
                                <td><input type="submit" value="Add" class="allotbtn"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>